body {
    margin: 0;
    background: darkgray;
    overflow: hidden;
    text-align: center;
}

#carProject {
    background: rgb(118, 118, 118);
}

#networkProject {
    background: black
}